doctype html
html(lang="en")
  head
    title File Sharing POC - on GCP
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    
  body
    .navbar.navbar-default
      .container
        .navbar-header
          .navbar-brand File Sharing POC

        ul.nav.navbar-nav
          if profile
            li
              a(href="/home") Home
          if profile && profile.isAdmin
            li
              a(href="/admin") Administration

        p.navbar-text.navbar-right
          if profile
            if profile.image
              img.img-circle(src=profile.image, width=24)
            span #{profile.displayName} &nbsp;
              a(href=logout) (logout)
          else
            a(href=login) Login


  .container
      block content


  br
  br
  hr
  div  2018
