extends ../base.pug

block content

  h2 Administration

  h3 Groups
  table.table.table-striped.table-hover
    tr
      th Name
      th Created
      th IP Range
    each group in groupList
      tr
        td= group.name
        td= group.created
        td
          form(method="POST" action="/admin/assignip")
            input(type="hidden" name="groupid" value=group.id)
            input(type="text" name="iprange" value=group.iprange)
            button.btn.btn-xs.btn-success(type="submit") Save

  h3 Users

  table.table.table-striped.table-hover
    tr
      th Name
      th Role
      th Group
      th Created
      th Group
    each user in userList
      tr
        - var groupName = groupMap[user.group]
        td= user.email
        td= user.role
        td= groupName
        td= user.created
        td
          form(method="POST" action="/admin/assignuser")
            input(type="hidden" name="userid" value=user.id)
            select.form-control.input(name="group" onchange="this.form.submit()")
              each group in groupList
                - var selected = group.id === user.group
                option(value=group.id selected=selected) #{group.name}


  h3 Activities
  table.table.table-striped.table-hover
    tr
      th Action
      th Document Group
      th Document
      th User
      th User Group
      th IP
      th Time
      each action in actionList
        tr
          - var docGroupName = groupMap[action.documentGroup]
          - var userGroupName = groupMap[action.userGroup]
          - var userName = userMap[action.userId]
          td= action.action
          td= docGroupName
          td= action.documentId
          td= userName
          td= userGroupName
          td= action.timestamp

  h3 Authentication
  table.table.table-striped.table-hover
    tr
      th Action
      th User
      th User Group
      th User Agent
      th IP
      th Time
      each action in authActionList
        tr
          - var userGroupName = groupMap[action.userGroup]
          - var userName = userMap[action.userId]
          td= action.action
          td= userName
          td= userGroupName
          td= action.agent
          td= action.ip
          td= action.timestamp
