extends ../base.pug

block content
  small Document information
  
  h3= document.name

  .btn-group
    a(href=`/document/${document.id}/file`, class='btn btn-success btn-sm', target='_blank')
      i.glyphicon.glyphicon-ok
      span  Open
  //-
    a(href=`/document/${document.id}/edit`, class='btn btn-primary btn-sm')
      i.glyphicon.glyphicon-edit
      span  Edit document
      a(href=`/document/${document.id}/delete`, class='btn btn-danger btn-sm')
        i.glyphicon.glyphicon-trash
         span  Delete document
    //
  p
  small Added by #{document.createdBy}

  p
    div.container
      div.row
        div.col Created
        div.col= document.created
  p  
    div.container
      div.row
        div.col Description
        div.col= document.description

  
  h4 New version
  form(method="POST" action="/document/version" enctype="multipart/form-data")
    input(type="hidden" name="documentid" value=document.id)
    input(type="hidden" name="userid" value=profile.id)
    input(type="file" name="file" id="file")
    button.btn.btn-success(type="submit") Upload
  
  h3 Versions

  table.table.table-striped.table-hover
    tr
      th Version
      th Created
      th User
      th
    each version in versionList
      tr
        td= version.version
        td= version.created
        td= version.userId
        td
          a(href='/document/' + version.documentId + '/version/' + version.version
	    		      target="_blank")
            span View
	  
  
  