extends ../base.pug

block content

  h2 Search

  form(method="POST")
    .form-group
      label(for="title") Title
      input.form-control(type="text", name="name", id="name",
      				      value=document.title)
				      
      button.btn.btn-success(type="submit") Search
    
  h3 Search result
  ul
    each result in results
      li= result.name

