extends ../base.pug

block content

  h3 #{action} Document
  form(method="POST", enctype="multipart/form-data")
    .form-group
      label(for="name") Name
      input.form-control(type="text", name="name", id="name",
      				      value=document.name)
    //-
     .form-group
       label(for="created") Created
       input.form-control(type="text", name="created", id="created",
       				      value=document.created)
    //
    .form-group
      label(for="description") Description
      input.form-control(type="text", name="description", id="description",
      				      value=document.description)
    .form-group
      label(for="file") File
      input.form-control(type="file", name="file", id="file")
    
    //-
      .form-group.hidden
        label(for="imageUrl") Cover Image URL
        input.form-control(type="text", name="imageUrl", id="imageUrl",
       				      value=document.imageUrl)
    //
    .form-group.hidden
      label(for="createdBy") Created by
      input.form-control(type="text", name="createdBy", id="createdBy",
      				      value=document.createdBy)
    .form-group.hidden
      label(for="createdById") Created by ID
      input.form-control(type="text", name="createdById", id="createdById",
      				      value=document.createdById)
    button.btn.btn-success(type="submit") Save