extends ../base.pug

block content

  p
    a(href="/document/add", class='btn btn-success btn-sm')
      i.glyphicon.glyphicon-plus
      span  Add Document
  br
  p
    div(style="width=300px")
      form(method="POST")
        .form-group
          input.form-control(type="text", name="search", id="search",
      				      value=)
        button.btn.btn-success(type="submit") Search
  
  h3 Documents

  table.table.table-striped.table-hover
    tr
      th Name
      th Description
      th Created
      th
    each document in groupDocuments
      tr
       td
         a(href='/document/' + document.id)
           span= document.name
       td= document.description
       td= document.created
       td
         a(href='/document/' + document.id + '/file' target='_blank')
           span Open

  if !groupDocuments.length
    p No document found.
  

  //-
    a(href=`/document/add`, class='btn')
      span  Upload
  //
  


